* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Sofia Sans', sans-serif;
  font-size: 15px;
  line-height: 17px;
  color: $whitesmoke;
  min-height: 380px;
  min-height: 100vh;
  background: $gradient1;
  background-image: url("/weather/src/img/weather/basic.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet) {
    font-size: 17px;
    line-height: 20px;
  }

  @media (min-width: $desktop) {
    font-size: 20px;
    line-height: 23px;
  }
}

.main-content {
  margin: 0 auto;
  padding: 15px 20px;

  @media (min-width: $tablet) {
    padding: 25px 40px;
  }

  @media (min-width: $desktop) {
    padding: 40px 100px;
  }
}