* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Comfortaa', 'Arial', sans-serif;
  font-size: 15px;
  line-height: 17px;
  color: $whitesmoke;
  min-width: 375px;
  min-height: 100vh;
  background: $gradient1;
  animation: gradient 4s infinite linear;
  background-size: 400%;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet) {
    font-size: 17px;
    line-height: 20px;
  }

  @media (min-width: $desktop) {
    font-size: 20px;
    line-height: 23px;
  }
}
