// Цвета
$green: green;
$blue: blue;
$red: red;
$white: white;
$whitesmoke: whitesmoke;
$black: black;
$lightBlack: #1f0f24;
$grey: grey;
$blueviolet: #7b6bb5;
// $gradient1: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(16,98,37,1) 0%, rgba(0,212,255,1) 100%);

// Эффекты
$blur: blur(65px);

// Переходы
$transition: 0.5s;

// Дисплей
$tablet: 768px;
$desktop: 1280px;