.main-footer {
  color: $grey;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  backdrop-filter: $blur;
  margin-top: 20px;
  padding: 15px 20px;
  border: 1px solid $whitesmoke;
  border-radius: 40px;

  @media (min-width: $tablet) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.main-footer__dev {
  a {
    color: $lightBlack;
    text-decoration: none;
    padding: 3px 6px;
    border: 1px solid $lightBlack;
    border-radius: 30px;
    transition: $transition;

    &:hover {
      opacity: 0.5;
      transition: $transition;
    }
  }
}