.main-content {
  position: relative;
  width: 335px;
  margin: 5vh auto;
  padding: 0 20px;

  @media (min-width: $tablet) {
    width: 450px;
    padding: 0 40px;
  }

  @media (min-width: $desktop) {
    width: 600px;
    padding: 0 80px;
  }
}

.main-content__intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  backdrop-filter: $blur;
  margin-bottom: 20px;
  padding: 15px 20px;
  border: 1px solid $whitesmoke;
  border-radius: 30px;
}

.main-content__title {
  font-size: 23px;
  line-height: 27px;

  @media (min-width: $tablet) {
    font-size: 32px;
    line-height: 38px;
  }

  @media (min-width: $desktop) {
    font-size: 37px;
    line-height: 42px;
  }
}

.main-content__subtitle {
  font-size: 13px;
  text-decoration: underline;

  @media (min-width: $tablet) {
    font-size: 14px;
  }

  @media (min-width: $desktop) {
    font-size: 15px;
  }
}