.weather__type {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  z-index: 3;
  opacity: 1;
  backdrop-filter: $blur;
  border: 1px solid $whitesmoke;
  border-radius: 30px;
  transition: $transition;

  &--actual {
    row-gap: 15px;
    width: 283px;
    padding: 20px 25px;

    @media (min-width: $tablet) {
      width: 418px;
      padding: 10px 15px;
    }
  
    @media (min-width: $desktop) {
      width: 558px;
      padding: 15px 20px;
    }
  }

  &--forecast {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 15px;
    width: 319px;
    padding: 7px;
  
    @media (min-width: $tablet) {
      width: 418px;
      padding: 15px;
    }
  
    @media (min-width: $desktop) {
      width: 558px;
      padding: 20px;
    }
  }

  &--hidden {
    transition: $transition;
    opacity: 0;
    z-index: -1;
  }
}

.weather__cancel {
  width: 35px;
  height: 35px;
  background-color: transparent;
  background-image: url("/icons/cross.svg");
  background-position: center;
  background-repeat: no-repeat;
  margin-left: auto;
  padding: 0;
  backdrop-filter: $blur;
  border: none;
  border: 1px solid $whitesmoke;
  border-radius: 30px;
  cursor: pointer;

  @media (min-width: $tablet) {
    width: 40px;
    height: 40px;
  }

  @media (min-width: $desktop) {
    width: 45px;
    height: 45px;
  }
}

.weather__title {
  line-height: 22px;
  text-align: center;

  &--forecast {
    flex-basis: 100%;
  }

  @media (min-width: $tablet) {
    line-height: 24px;
  }

  @media (min-width: $desktop) {
    line-height: 29px;
  }
}

.weather__subtitle {
  position: relative;
  align-self: center;
  width: max-content;
  padding: 10px 6px 10px 40px;
  border: 1px solid $lightBlack;
  border-radius: 20px;

  &::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 10px;
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
  }

  &--basic {
    &::before {
      background-image: url("/icons/cloud.svg");
    }
  }

  &--temp {
    &::before {
      background-image: url("/icons/temp.svg");
    }
  }

  &--wind {
    &::before {
      background-image: url("/icons/wind.svg");
    }
  }

  @media (min-width: $tablet) {
    padding: 15px 11px 15px 50px;
    border-radius: 30px;

    &::before {
      top: 12px;
      left: 15px;
      width: 25px;
      height: 25px;
    }
  }

  @media (min-width: $desktop) {
    &::before {
      width: 30px;
      height: 30px;
    }
  }
}

.weather__info {
  color: $black;
}

.weather__list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  list-style: none;

  &--forecast {
    color: $black;
    flex-basis: 100%;
    height: 80%;
    overflow-y: scroll;
    border: none;
    backdrop-filter: none;
  }
}

.weather__item {
  &--forecast {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    row-gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    background-color: $whitesmoke;
    padding: 20px 10px;
    border-radius: 20px;

    @media (min-width: $tablet) {
      font-size: 17px;
      row-gap: 20px;
    }

    @media (min-width: $desktop) {
      font-size: 19px;
    }
  }
}

.weather__option {
  position: relative;
  flex-basis: 15%;

  &::before {
    content: "";
    font-size: 7px;
    line-height: 10px;
    color: $grey;
    text-align: center;
    position: absolute;
    bottom: -10px;
  }

  &:first-of-type {
    font-size: 16px;
    text-align: center;
    align-self: center;
    flex-basis: 100%;
    margin: 0 auto;
    padding-bottom: 5px;
    border-bottom: 1px solid $black;

    &::before {
      background-image: url("/icons/date.svg");
      background-repeat: no-repeat;
      width: 20px;
      height: 20px;
      left: 80px;
      bottom: 4px;
    }
  }

  &:nth-of-type(2) {
    &::before {
      content: "Температура";
    }
  }

  &:nth-of-type(3) {
    &::before {
      content: "Влажность";
    }
  }

  &:nth-of-type(4) {
    &::before {
      content: "Направление";
    }
  }

  &:nth-of-type(5) {
    &::before {
      content: "Скорость";
    }
  }

  &:nth-of-type(6) {
    &::before {
      content: "Состояние";
    }
  }

  @media (min-width: $tablet) {
    &::before {
      font-size: 9px;
    }

    &:first-of-type {
      &::before {
        width: 25px;
        height: 25px;
        left: 125px;
      }
    }
  }

  @media (min-width: $desktop) {
    &::before {
      font-size: 10px;
    }

    &:first-of-type {
      &::before {
        width: 30px;
        height: 30px;
        left: 190px;
      }
    }
  }
}