.weather__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  backdrop-filter: $blur;
  border: 1px solid $whitesmoke;
  border-radius: 30px;
  padding: 30px;
}

.weather__form-title {
  line-height: 26px;
  text-align: center;
  margin-bottom: 30px;

  @media (min-width: $tablet) {
    line-height: 29px;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop) {
    line-height: 31px;
    margin-bottom: 50px;
  }
}

.weather__input-city {
  width: 210px;
  height: 30px;
  padding: 7px 10px;
  border: none;
  border-radius: 30px;
  outline: none;

  @media (min-width: $tablet) {
    font-size: 15px;
    width: 230px;
    padding: 10px 15px;
  }

  @media (min-width: $desktop) {
    font-size: 17px;
    width: 300px;
    padding: 15px 20px;
  }
}

.weather__button {
  font-size: inherit;
  width: 165px;
  height: 40px;
  margin-top: 25px;
  border: none;
  border-radius: 30px;
  transition: $transition;

  @media (min-width: $tablet) {
    margin-top: 35px;
  }

  @media (min-width: $desktop) {
    width: 180px;
    height: 50px;
    margin-top: 45px;
  }

  &--go {
    cursor: pointer;
  
    &:hover {
      color: $white;
      background-color: $green;
      transition: $transition;
    }
  }

  &--no {
    transition: $transition;
    cursor: not-allowed;
  }
}

.weather__data {
  letter-spacing: 2px;
  position: absolute;
  top: -4%;
  bottom: -4%;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  backdrop-filter: $blur;
  width: 283px;
  border: 1px solid $whitesmoke;
  margin: 0 auto;
  border-radius: 30px;
  padding: 20px 25px;
  z-index: 3;
  opacity: 1;
  transition: $transition;

  @media (min-width: $tablet) {
    width: 398px;
  }

  @media (min-width: $desktop) {
    width: 548px;
  }

  &--hidden {
    transition: $transition;
    opacity: 0;
    z-index: -1;
  }
}

.weather__cancel {
  width: 35px;
  height: 35px;
  background-color: transparent;
  background-image: url("/icons/cross.svg");
  background-position: center;
  background-repeat: no-repeat;
  margin-left: auto;
  padding: 0;
  border: none;
  border: 1px solid $whitesmoke;
  border-radius: 30px;
  cursor: pointer;

  @media (min-width: $tablet) {
    width: 45px;
    height: 45px;
  }

  @media (min-width: $desktop) {
    width: 50px;
    height: 50px;
  }
}

.weather__title {
  line-height: 22px;
  text-align: center;

  @media (min-width: $tablet) {
    line-height: 24px;
  }

  @media (min-width: $desktop) {
    line-height: 29px;
  }
}

.weather__subtitle {
  position: relative;
  align-self: center;
  width: max-content;
  padding: 10px 6px 10px 40px;
  border: 1px solid $lightBlack;
  border-radius: 20px;

  &::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 10px;
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
  }

  &--basic {
    &::before {
      background-image: url("/icons/cloud.svg");
    }
  }

  &--temp {
    &::before {
      background-image: url("/icons/temp.svg");
    }
  }

  &--wind {
    &::before {
      background-image: url("/icons/wind.svg");
    }
  }

  @media (min-width: $tablet) {
    padding: 15px 11px 15px 50px;
    border-radius: 30px;

    &::before {
      top: 12px;
      left: 15px;
      width: 25px;
      height: 25px;
    }
  }

  @media (min-width: $desktop) {
    &::before {
      width: 30px;
      height: 30px;
    }
  }
}

.weather__info {
  color: $black;
}

.weather__list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  list-style: none;
}